**AI ASSIGNMENT-01**

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Task 1: Create a pandas dataframe with numpy random values
data = np.random.rand(4, 4)
df = pd.DataFrame(data)
print("Task 1 - DataFrame:")
print(df)

Task 1 - DataFrame:
          0         1         2         3
0  0.829276  0.603342  0.888216  0.708912
1  0.244008  0.611676  0.348366  0.403652
2  0.923990  0.040248  0.263978  0.420757
3  0.185016  0.525235  0.289800  0.638697

In [3]:
# Task 2: Rename the column names
df.columns = ['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4']

In [4]:
print("\nTask 2 - Renamed column names:")
print(df.columns)

Task 2 - Renamed column names:
Index(['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4'], dtype='object')

In [5]:
# output of the columns that are renamed.
print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.829276        0.603342        0.888216        0.708912
1        0.244008        0.611676        0.348366        0.403652
2        0.923990        0.040248        0.263978        0.420757
3        0.185016        0.525235        0.289800        0.638697

In [6]:
# Task 3: Descriptive statistics
statistics = df.describe(include='all')

In [7]:
print("\nTask 3 - Descriptive statistics:")
print(statistics)

Task 3 - Descriptive statistics:
       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.545573        0.445125        0.447590        0.543004
std          0.384981        0.272711        0.295865        0.153889
min          0.185016        0.040248        0.263978        0.403652
25%          0.229260        0.403988        0.283345        0.416481
50%          0.536642        0.564288        0.319083        0.529727
75%          0.852955        0.605425        0.483328        0.656251
max          0.923990        0.611676        0.888216        0.708912

In [8]:
# Task 4: Check for null values 
null_values = df.isnull().sum()
print("\nTask 4 - Null values:")
print(null_values)

Task 4 - Null values:
Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [9]:
# Task 4: Check for data types
data_types = df.dtypes
print("\nTask 4 - Data types:")
print(data_types)

Task 4 - Data types:
Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

In [10]:
# Task 5: Display columns using location 
random_value_2_loc = df.loc[:, 'Random value 2']
print("\nTask 5 - 'Random value 2' column using loc:")
print(random_value_2_loc)

Task 5 - 'Random value 2' column using loc:
0    0.603342
1    0.611676
2    0.040248
3    0.525235
Name: Random value 2, dtype: float64

In [11]:
random_value_2_iloc = df.iloc[:, 1]  # Assuming the column index for 'Random value 2' is 1
print("\nTask 5 - 'Random value 2' column using iloc:")
print(random_value_2_iloc)

Task 5 - 'Random value 2' column using iloc:
0    0.603342
1    0.611676
2    0.040248
3    0.525235
Name: Random value 2, dtype: float64

In [12]:
#Display columns using location 
random_value_3_loc = df.loc[:, 'Random value 3']
print("\nTask 5 - 'Random value 3' column using loc:")
print(random_value_3_loc)

Task 5 - 'Random value 3' column using loc:
0    0.888216
1    0.348366
2    0.263978
3    0.289800
Name: Random value 3, dtype: float64

In [13]:
random_value_3_iloc = df.iloc[:, 2]  # Assuming the column index for 'Random value 3' is 2
print("\nTask 5 - 'Random value 3' column using iloc:")
print(random_value_3_iloc)

Task 5 - 'Random value 3' column using iloc:
0    0.888216
1    0.348366
2    0.263978
3    0.289800
Name: Random value 3, dtype: float64